* {
   margin: 0;

   font-family: 'Roboto', sans-serif;
}

/* First banner part */
.first-banner-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: darkgrey;

}

#title-color {
   color: #E55473;
}

.banner {

   padding-left: 170px;
   margin-top: 100px;
   /* width: 50%;  */



}

.about-banner {
   color: #272727;
   font-size: 50px;
   font-weight: 800;

}

.banner-content {
   color: #27272799;
   font-weight: 400;
   font-size: 15px;
   margin: 32px 0 10px 0;
   max-width: 500px;
}

.btn-div {
   text-align: center;
}

.common-btn {
   color: #FFF;
   font-size: 15px;
   font-weight: 700;
   border-radius: 8px;
   background: #E55473;
   border: 0;
   padding: 10px;
}

/* .banner-img-container{
    border: 2px solid; 
} */
.banner-img {
   margin-top: 50px;
   margin-right: 150px;
   height: 600px;
}

/* Our featured flowers parts  */
.Featured-Flowers-container{
   margin-bottom: 100px;
   margin-top: 100px;
}
.feature-container {
   text-align: center;
  
   margin-top: 150px;
   
   
}
.featured-title{
   color: #272727;
   font-size: 30px;
   font-weight: 800;
}
.featured-description{
   color: rgba(39, 39, 39, 0.60);
   font-size: 13px;
   margin-top: 10px;
}

.Featured-Flowers{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
   margin-top: 0;
   
}
.Featured-Flowers-img{
   text-align: center;
   text-decoration: underline;
  
   
  
}
.Featured-Flowers-img img{
   
   height: 250px;
   width: 250px;
   padding: 50px 10px 0 10px ;
   background-color: burlywood;
   border-radius: 300px 300px 0 0;
}
.support-system-container{
  
  margin: 10px 150px 150px 150px;
  border-radius: 8px;
  background-color: rgba(39, 39, 39, 0.05);
}
 
.icones{
   display: flex;
   justify-content: center;
   gap: 100px;
   padding: 10px;
   
      
  
}
  
.support-icon{
   text-align: center;

}
.support-icon p{
   font-size: 10px;
}
/* hot deal section */
.hot-deal-section{
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}
.hot-deal-container{
   display: flex;
   align-items: center;
   
}
.hot-deal{
   text-align: center;
   padding: 200px;
}
.hot-deal-title{
   color: #272727;
   font-size: 35px;
   font-weight: 800;
   margin-bottom: 10px;
   /* padding: 0 0 0 0px; */
}
.hot-deal-description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.hot-deal-img{
   margin-right: 100px;
}



   
     
    

  
   
   
   
   
   




   

   
